// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comp_name {
  h1 {
    float: left;
  }

  #prediction {
    float: left;
    margin-top: 13px;
    margin-left: 13px;
    font-size: 1.3em;
  }

  #flag {
    font-weight:lighter;
    margin-left: 5px;
  }
}

#plots {
  margin-top: 10px;
}
.clear {
  clear: both;
}

#footer {
  margin-top: 20px;
}

#copyright {
  margin-bottom:0px;
}
#authors {
  margin-left: 14px;
}
