// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comp_name {
  font-weight: bold;
}

.top {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.info {
  font-size: smaller;
}

.flag {
  margin-left: 5px;
  font-size: larger;
}

#up {
  color: green;
}

#down {
  color: red;
}

#plots {
  margin-top: 10px;
}
.clear {
  clear: both;
}

#footer {
  margin-top: 20px;
}

#copyright {
  margin-bottom:0px;
}
#authors {
  margin-left: 14px;
}
.fig {
}